
<div class="conteiner">
  <h2 class="py-5" style="text-align: center; font-family: monospace;">Registracion e ingreso de datos !!</h2>
</div>
<div className="row">
  <mat-tab-group mat-stretch-tabs class="container mat-elevation-z4">
      <mat-tab label="Pacientes"  >
        <!-- PARA TRAER AL COMPONENTE 'app-paciente' -->
          <app-add-paciente></app-add-paciente>
    </mat-tab>
 
    <mat-tab label="Tutores">
          <app-add-tutor></app-add-tutor>
    </mat-tab>
  </mat-tab-group>
</div>
