
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family:Tahoma;">
  <div class="navbar-collapse" >
      <ul class="nav navbar-nav mr-auto" >   
          <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link mr-4 btn-outline-warning" [routerLink]="['listapac']" tabindex="1" ><b>Lista Pacientes</b></a>
          </li>							
          <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link mr-4 btn-outline-warning" [routerLink]="['listatut']" tabindex="3" ><b>Lista Tutores</b></a>
          </li> 
          <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link mr-4 btn-outline-warning" [routerLink]="['registro']" tabindex="3" ><b>Crear Registros</b></a>
          </li> 
          <!-- VARIOS ITEMS SIGUEN.. -->
      </ul>
  </div>
</nav>
